$subtle : #eef0fc;
.card {
  min-width: 100%;
  display: inline-block;
  margin: 20px;
  &.post {
  margin: 0px;
  }
  &.comment {
    background-color: $subtle;
    display: flex;
    min-width: 0;
    flex-direction: column;
    margin: 5px;
    padding: 7px 25px;
    box-shadow: none;
    border-radius: 25px;
  }
  &.submitPost {
    margin-bottom: 40px;
  }
  h5 {
    margin: 0;
  }
  p {
    margin: 5px 0 ;
    font-size: 14px;
  }
 form.comment-form,form.post-form{
   ::ng-deep .mat-form-field-underline {
     display: none;
   }
   display: flex;
   align-items: center;
   mat-form-field {
     width: 100%;
     button {
       max-height: 44px;
     }
   }
  }

  form.comment-form {
    padding-top: 40px;
    button {
      background-color: transparent;
      box-shadow: none;
      mat-icon {
        color: #888;
      }
    }
  }
  mat-card-content {
    padding: 0px 17px 20px;
  }
  mat-divider {
    margin: 20px 0;
  }
}
