<div class="card post" *ngFor="let post of (feed | async)">
  <div >
    <mat-card-header  [attr.data-message-id]="post.id">
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
    </mat-card-header>
    <div *ngFor="let comment of values" >
      <div *ngFor="let c of comment">
        <div *ngIf="c.postId==post.id">
        <mat-card class="card comment">
              <h5 >
               {{c.author}}
              </h5>
              <p>{{c.content}}</p>
            </mat-card>
          </div>
      </div>
    </div>
    <input type="text" name="text" id="text" placeholder="Et ta maman ?">
  </div>
<!--  <mat-card-actions>-->
<!--    <button mat-raised-button color="primary" [routerLink]="['/posts', post.id]">Voir</button>-->
<!--  </mat-card-actions>-->
</div>

