<mat-card class="card submitPost">
  <form class="post-form" [formGroup]="postForm" autocomplete="off" (ngSubmit)="onSubmitPost(postForm.value)">
    <mat-form-field class="post-field-full-width">
      <input  id="title"  type="hidden"  formControlName="title">
      <input  id="date"  type="hidden"  formControlName="postDate">
      <input  id="author" type="hidden" formControlName="author">
      <input matInput id="content" type="text" placeholder="Créez un nouveau post" formControlName="content">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Envoyer</button>
  </form>
</mat-card>

<div class="card post" *ngFor="let post of feed" >
  <mat-card class="card">
    <mat-card-header  [attr.data-message-id]="post.id">
      <mat-card-subtitle>
        <b>{{post.userName}}</b>
        <span class="date">
          <!--  date formatée -->
          {{post.date.split(" ")[0].split("-")[2]}}/{{post.date.split(" ")[0].split("-")[1]}}/{{post.date.split(" ")[0].split("-")[0]}} à
          <!--  heure formatée -->
          {{post.date.split(" ")[1].split(":")[0]}}:{{post.date.split(" ")[1].split(":")[1]}}
        </span>
      </mat-card-subtitle>
<!--      <mat-card-title>{{post.title}}</mat-card-title>-->


      <div class="likes">
        <div *ngFor="let like of likes">
          <span *ngIf="like.post==post.id">{{like.author}}</span>
        </div>
        <button matTooltip="J'aime" mat-mini-fab class="like" (click)="likeUnlike(post.id)">
          <i class="material-icons">thumb_up</i>
        </button>
      </div>


    </mat-card-header>
    <mat-card-content>
      <p>{{post.content}}</p>
    </mat-card-content>

<div class="commentsBox">
    <div *ngFor="let comment of values" >
      <div *ngFor="let c of comment">
        <div *ngIf="c.postid==post.postId">
        <mat-card class="card comment">
              <h5>
                <span *ngIf="c.author===post.userId">{{post.userName}}</span>
                <span class="date comment">
                  <!--  date formatée -->
                  {{c.date.split(" ")[0].split("-")[2]}}/{{c.date.split(" ")[0].split("-")[1]}}/{{c.date.split(" ")[0].split("-")[0]}} à
                  <!--  heure formatée -->
                  {{c.date.split(" ")[1].split(":")[0]}}:{{c.date.split(" ")[1].split(":")[1]}}
                 </span>
              </h5>
              <p>{{c.content}}</p>
            </mat-card>
          </div>
      </div>
    </div>
</div>
    <mat-divider></mat-divider>
    <form class="comment-form" autocomplete="off" [formGroup]="commentForm" (ngSubmit)="onSubmitComment(post.postId)">
      <mat-form-field class="comment-field-full-width">
        <input  type="hidden" value="Sylvanas Windrunner" formControlName="author">
        <input matInput type="text" placeholder="Ajoutez un commentaire" formControlName="content">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit"><mat-icon aria-hidden="false" aria-label="Example home icon">send</mat-icon></button>
    </form>
  </mat-card>
</div>

<mat-card class="example-card" style="position:fixed;bottom:0px;left:45px;max-width:250px; height: 300px; display:flex;flex-direction: column;" cdkDrag matTooltip="Drag me!">
  <mat-card-header>
    <mat-card-title>Messagerie instantanée</mat-card-title>
  </mat-card-header>
  <mat-form-field style="width: 100%">
    <mat-label>Vos contacts</mat-label>
    <mat-select>
      <mat-option *ngFor="let user of users">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <textarea disabled
            style="margin-top: auto; height: 200px; min-height: 45px!important;"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize" placeholder="Votre message..."></textarea>
  <button disabled mat-raised-button color="primary" type="submit"><mat-icon aria-hidden="false" aria-label="Example home icon">send</mat-icon></button>
</mat-card>
