<div class="card post" *ngFor="let post of (feed | async)">
  <div >
    <mat-card-header  [attr.data-message-id]="post.id">
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card class="card comment" *ngFor="let comment of values" >
      <div *ngIf="comment.postId==post.id">
        <h5 >
         {{comment.author}}
        </h5>
        <p>{{comment.content}}</p>
      </div>
    </mat-card>
    <input type="text" name="text" id="text" placeholder="Et ta maman ?">
  </div>
<!--  <mat-card-actions>-->
<!--    <button mat-raised-button color="primary" [routerLink]="['/posts', post.id]">Voir</button>-->
<!--  </mat-card-actions>-->
</div>

