<div class="card login">
  <mat-card class="card">
    <mat-card-title style="text-align:center">
      Connexion
    </mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput type="text"placeholder="mail" formControlName="mail"  class="form-control" />
            </mat-form-field>
          </div>
          <div class="form-row">
              <div class="form-group col">
                <mat-form-field class="example-full-width">
                  <input matInput type="password" id="pw" placeholder="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                </mat-form-field>
              </div>
          </div>
          <mat-checkbox onclick="showPwd()">Afficher le mot de passe</mat-checkbox>
          <div class="text-center">
              <button mat-raised-button matTooltip="Créer un compte" class="btn btn-primary mr-1"
               color="primary">Se connecter</button>
          </div>
      </form>

      <button mat-raised-button matTooltip="Connexion" class="btn btn-primary mr-1 link"
        color="primary" (click)="goToReg()">Créer un compte</button>
  </mat-card>
</div>
<script>
function showPwd(item) {
  if (document.getElementById('pw').type === 'password') {
    document.getElementById('pw').type  = 'text';

  } else {
    document.getElementById('pw').type  = 'password';

  }
}
</script>
