<p>users works!</p>
<mat-card class="card post" *ngFor="let user of (users | async)">
  <mat-card-header>
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-subtitle>{{user.pwd}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card class="card comment" *ngFor="let comment of (users | async)">
    <h5>
     {{comment.id}}
    </h5>

    <p>{{comment.mail}}</p>
  </mat-card>


<!--  <mat-card-actions>-->
<!--    <button mat-raised-button color="primary" [routerLink]="['/posts', post.id]">Voir</button>-->
<!--  </mat-card-actions>-->
</mat-card>
